@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/space-mono.woff2) format('woff2');
  }

body {
    font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    font-weight: 400;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-image: linear-gradient(to right top, #146152, #29765a, #428b60, #60a163, #81b565, #96c164, #adcc64, #c5d763, #d3dd61, #e1e25f, #f0e75d, #ffec5c);
}

.container {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #8a4af3; /* Fun shade of purple */
    font-family: 'Space Mono', sans-serif;
}

.day {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #8a4af3; /* Fun shade of purple */
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #8a4af3; /* Fun shade of purple */
    margin-top: 20px; /* Add spacing above the Additional Content section */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

button {
    padding: 5px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #8a4af3; /* Fun shade of purple */
    color: #fff;
    cursor: pointer;
    margin-top: 20px; /* Add spacing above the Previous/Next buttons */
    background-color: transparent;
    border: 1px solid #ffec5c;
    text-transform: uppercase;
    font-size: .85rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 600px;
        margin: 20px auto;
    }
}

.menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    padding: 4px;
    margin-top: 0px;
    border-radius: 20px;
    width: 40px;
    box-sizing: border-box;
    background-color: #042940;
    border-width:0px;
}

.menu-icon:before {
    content: "\2630"; /* Unicode character for menu icon */
    font-size: 24px;
    transition: transform 0.3s ease; /* Transition for icon transformation */
}

.menu-icon.open:before {
    content: "\2716"; /* Unicode character for close icon */
    transform: rotate(90deg); /* Rotate the close icon */
}

/*===[ Post Theme ]===*/
.day-text {color:#005C53; margin-bottom: 0px;}
.post-title {margin-top: 0px;}

/*===[ Sidebar ]=== */
.sidebar {
    overflow-x: hidden;
    padding-top: 50px;
    width: 300px;
    height: 100%;
    background-color: rgba(0,0,0,.95); /* Changed background color */
    position: fixed;
    top: 0;
    right: -300px; /* Initially off-screen */
    z-index: 1000;
    transition: right 0.3s ease; /* Animate the transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added box shadow */
}

.show {
    display: block;
}
.sidebar.show {
    right: 0px;
}

/* Add this CSS to style the sidebar */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

/* Add media query for mobile */
@media only screen and (max-width: 768px) {
    h1 {
        text-align: left;
        margin-top: 0px;
    }
    .sidebar {
        width: 250px;
    }
    .content {
        padding: 0px;
        width: 100%;
    }
}

/* ====[ LATEST THEME ]==== */
body {
    color: #fff;
}
h1 {
    color:#042940;
}
h2,h3,h4 {
color: #005C53;
color: #042940;
color: #005C53;
}

@media only screen and (max-width:768px){
    body {
        background-image: linear-gradient(to top, #146152, #29765a, #428b60, #60a163, #81b565, #96c164, #adcc64, #c5d763, #d3dd61, #e1e25f, #f0e75d, #ffec5c)
    }
}